body {
    font-family: Arial, sans-serif;
    background-color: #2e5738;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #004d00;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    box-shadow: 5px 5px 5px rgb(167, 167, 167);
  }
  
  nav img {
    width: 80px;
    height: 40px;
    margin-left: 20px;
  }
.product-card {
    display: flex;
    margin: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 20px;
}

.product-image img {
    width: 200px;
    border-radius: 8px;
}

.product-info {
    margin-left: 20px;
}

.product-info h2 {
    margin: 0;
    font-size: 24px;
}

.product-info p {
    margin: 5px 0;
}

.product-info input {
    width: 50px;
    margin: 10px 0;
}

.buy-now {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
}

.buy-now {
    background-color: #ddd;
    color: #000;
}

.other-products {
    display: flex;
    justify-content: space-around;
    background-color: #004d00;
    padding: 20px;
}

.product-item {
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 8px;
}

.product-item img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #004d00;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-content h4 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #ddd;
}

.social-media a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}
